set autoindent
set autoread
set breakindent
set clipboard+=unnamed
set completeopt=menu,menuone
set expandtab
set exrc
set fileencoding=utf-8
set gdefault
set hidden
set ignorecase
set incsearch
set linespace=0
set mouse=a
set nobackup
set noerrorbells
set nohlsearch
set noruler
set noshowmode
set noswapfile
set nowrap
set number
set relativenumber
set scrolloff=10
set shiftwidth=4
set showbreak="↳ "
set showmatch
set signcolumn
set smartcase
set smartindent
set smarttab
set softtabstop=4
set splitright
set tabstop=4
set title
set ttimeoutlen=0
set undofile

let mapleader=" "

map <SPACE> <Nop>
map <Up> <Nop>
map <Down> <Nop>
map <Left> <Nop>
map <Right> <Nop>
map Q <Nop>

map <C-d> <C-d>zz
map <C-u> <C-u>zz

nmap gd <Action>(GotoDeclaration)
nmap gc <Action>(CommentByBlockComment)
nmap <space>f <Action>(ReformatCode)
nmap <space>s <Action>(SplitVertically)
nmap <space>S <Action>(SplitHorizontally)
nmap <C-p> <Action>(GotoFile)
nmap <space>fh <Action>(RecentFiles)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap <leader>n :action ShowNavBar<CR>

vnoremap J :m '>1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

nnoremap <leader>vr :action IdeaVim.ReloadVimRc.reload<CR>
