set linespace=0
set showmatch=true
set splitright=true
set ttimeoutlen=0
set ruler=false
set exrc=true
set relativenumber=true
set autoindent=true
set smarttab=true
set number=true
set hlsearch=false
set ignorecase=true
set smartcase=true
set hidden=true
set errorbells=false
set swapfile=false
set backup=false
set undofile=true
set incsearch=true
set scrolloff=10
set signcolumn=yes
set title=true
set autoread=true
set shiftwidth=4
set softtabstop=4
set tabstop=4
set expandtab=true
set smartindent=true
set fileencoding=utf-8
set wrap=false
set mouse=a
set clipboard+=unnamed
set completeopt=menu,menuone

set showmode=false
set breakindent=true
set gdefault=true
set showbreak=↳
set mapleader=" "

map <SPACE> <Nop>
map <Up> <Nop>
map <Down> <Nop>
map <Left> <Nop>
map <Right> <Nop>
map Q <Nop>

map <C-d> <C-d>zz
map <C-u> <C-u>zz
